.pfp {
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
    font-family: myfont;
    src: url(kart.ttf);
}
*{
  font-family: myfont;
}
.list li {
    color: #6d3e1c;
}
.list1 {
    color:#ffcfed;
}
td .pic {
    border-radius: 10%;
}
form input {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

form img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}